<%- include('includes/head.ejs') %>
</head>

<body>
    <%- include('includes/navigation.ejs') %>
        <h1>Some Error Ocurred!</h1>
        <p>We are trying our best to work on it, sorry for your inconvience.</p>
    <%- include('includes/end.ejs') %>